/* Styl ogólny tabel */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

/* Styl nagłówków tabel */
th {
  background-color: #4caf50;
  color: white;
  text-align: left;
  padding: 8px;
}

/* Styl komórek tabel */
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Styl wierszy tabel przy najechaniu kursorem */
tr:hover {
  background-color: #f5f5f5;
}

#all-projects,
#my-projects {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}
