* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px 20px;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

#menu-left,
#menu-right {
  display: flex;
  align-items: center;
}

#logo img {
  height: 50px;
  margin-right: 20px;
}

#menu-links a,
#menu-right a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.3s, transform 0.2s;
}

#menu-links a:hover,
#menu-right a:hover {
  color: #ddd;
  transform: scale(1.02);
}

#user-name {
  margin-right: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

th {
  background-color: #007bff;
  color: white;
  text-align: left;
  padding: 12px 15px;
}

td {
  padding: 12px 15px;
  text-align: left;
  border-top: 1px solid #ddd;
}

tr:not(:first-child) {
  transition: background-color 0.3s, transform 0.2s;
}
tr:nth-child(even) {
  background-color: #f8f8f8;
}

tr:not(:first-child):hover {
  background-color: #f1f1f1;
  transform: scale(1.02);
}

#all-projects,
#my-projects,
#projects-container {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin: 20px;
}

@media (max-width: 768px) {
  #menu {
    flex-direction: column;
    align-items: flex-start;
  }

  #menu-left,
  #menu-right {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  #menu-links,
  #menu-right {
    flex-grow: 1;
    text-align: right;
  }

  #menu-links a,
  #menu-right a {
    display: block;
    margin-bottom: 5px;
  }
}

#project_container h2 {
  color: #333;
  margin-bottom: 10px;
}

#project_container p {
  color: #666;
  line-height: 1.6;
}
#project_container,
#task_container {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  margin: 20px auto;
}
.task {
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
  margin-bottom: 10px;
}
.project-detail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.project-label {
  font-weight: bold;
  color: #333;
}

.project-value {
  color: #666;
}

.project-info {
  gap: 10px;
  align-items: center;
}
.edit-button,
.delete-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #0056b3;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.modal-content button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-content button:hover {
  background-color: #0056b3;
}
#edit_project_form {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

#edit_project_form input,
#edit_project_form select,
#edit_project_form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ddd;
}
#edit_project_form button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#edit_project_form button:hover {
  background-color: #218838;
}
#new-project {
  button {
    margin: 20px auto;
    display: block;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}
#downloadPDF {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px auto; /* Change this line */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block; /* Add this line */
}

#downloadPDF:hover {
  background-color: #218838;
}
